@model IEnumerable<Inmobiliaria.Models.TipoInmueble>
@{
	ViewData["Title"] = "TipoInmuebles";
}

<h1>
	Tipo Inmuebles
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear">Crear Tipos Inmuebles<i class="fa-solid fa-plus"></i></a>
	</div>
</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.IdTipoInmueble)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdTipoInmueble)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Nombre)
				</td>
				
				<td>
					<div class="btn-group" role="group">
						<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdTipoInmueble" title="Editar">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTipoInmueble" title="Eliminar">
							<i class="fa-solid fa-trash-can"></i>
						</a>
						
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>