@model IEnumerable<Inmobiliaria.Models.Contratos>
@{
	ViewData["Title"] = "Contratos";
}

<h1>
	Contratos
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear">Crear Contratos<i class="fa-solid fa-plus"></i></a>
	</div>
</h1>
<table class="table table-striped"> 
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.IdContrato)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NombreInquilino)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DireccionInmueble)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Monto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaDesde)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaHasta)
			</th>
            <th>
				@Html.DisplayNameFor(model => model.Vigente)
			</th>
			 <th>
				@Html.DisplayNameFor(model => model.CantidadCuotas)
			</th>
			 <th>
				@Html.DisplayNameFor(model => model.CuotasPagas)
			</th>
			
            
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdContrato)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreInquilino)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DireccionInmueble)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Monto)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaDesde)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaHasta)
				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vigente)
				<td> 
				<td>
                    @Html.DisplayFor(modelItem => item.CantidadCuotas)
				<td>     
				<td>
                    @Html.DisplayFor(modelItem => item.CuotasPagas)
				<td>    

					
					<div class="btn-group" role="group">
						@if (User.IsInRole("Administrador")){

						<a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdContrato" title="Editar">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdContrato" title="Eliminar">
							<i class="fa-solid fa-trash-can"></i>
						</a>


						<a class="btn btn-primary" 


											asp-controller="Pagos" 
											asp-action="Create" 
											asp-route-id="@item.IdContrato"
											asp-route-multa="false" 
											title="Generar Pago">
												<i class="fa-solid fa-dollar-sign"></i>
											</a>

						<a class="btn btn-secondary" 
											asp-action="Renovar" 
											asp-route-id="@item.IdContrato" 
											title="renovar contrato">
												<i class="fa-solid fa-repeat"></i>
											</a>
						<a class="btn btn-warning btn-sm" 
						                    asp-controller="Multas"
											asp-action="Calcular" 
											asp-route-id="@item.IdContrato" 
											title="Calcular Multa">
												<i class="fa-solid fa-sack-xmark"></i>
											</a>					
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>