@model IEnumerable<Inmobiliaria.Models.Multas>
@{
	ViewData["Title"] = "Multas";
}

<h1>
	Multas
	
</h1>
<table class="table table-striped"> 
	<thead>
		<tr>
            <th>
				@Html.DisplayNameFor(model => model.IdMulta)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdContrato)
			</th>
			
			<th>
				@Html.DisplayNameFor(model => model.DireccionInmueble)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ImporteMulta)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FechaHastaContrato)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NuevaFechaHastaContrato)
			</th>
            <th>
				@Html.DisplayNameFor(model => model.FechaMulta)
			</th>
			 <th>
				@Html.DisplayNameFor(model => model.CuotasAdeudadas)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.mailUsuarioAlta)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.mailUsuarioBaja)
			</th>
            
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdMulta)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdContrato)
				</td>
               
				<td>
					@Html.DisplayFor(modelItem => item.DireccionInmueble)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ImporteMulta)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaHastaContrato)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NuevaFechaHastaContrato)
				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaMulta)
				</td> 
				<td>
                    @Html.DisplayFor(modelItem => item.CuotasAdeudadas)
				</td>
				<td>
                    @Html.DisplayFor(modelItem => item.mailUsuarioAlta)
				</td>
				<td>
                    @Html.DisplayFor(modelItem => item.mailUsuarioBaja)
				</td>
			</tr>
		}
	</tbody>
</table>